#Wed Feb 11 23:29:59 CST 2015
PORT=8017
BASEPATH=/nco/rtn/api
lisa.vse.execution.mode=EFFICIENT
VSE_URL=dev.lisa.mastercard.int
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT=80
PROTOCOL=http
DEV_ESB_ENDPOINT=
VSE_ENDPOINT={{PROTOCOL}}\://{{VSE_URL}}\:{{PORT}}{{BASEPATH}}
SERVER=ech-0a9d8167.corp.mastercard.test
PORT1=8080
ALIAS=
KEY_PASSWORD=
OPEN_API_URL=
SERVICE_PATH1=
SERVICE_PATH2=
SERVICE_PATH3=
CLIENT_ID=
P12=
