#Wed Feb 11 23:31:13 CST 2015
PORT=15543
BASEPATH=/OmneyNetwork/v1/partners/pDCgB6O5AhHT2e1oJIQENw/users/ZBAgA6NJBiANXkkSWYGo6g/accounts/5DDAA6OZBiC0r27kGk1AmA/transactions
VSE_URL=outbound.direct.mclocal.int
PROTOCOL=https
VSE_ENDPOINT={{PROTOCOL}}\://{{VSE_URL}}\:{{PORT}}{{BASEPATH}}
ALIAS=mastercardopenapikeypair
KEY_PASSWORD=lisa
OPEN_API_URL=stage.api.mastercard.com
SERVICE_PATH1=personalpayments/v1/depositfunds
SERVICE_PATH2=personalpayments/v1/depositfunds
SERVICE_PATH3=personalpayments/v1/eligibility/card
CLIENT_ID=1neDzZqcObD_2wHKK6KW9qapy6gOEidErNP6h9um2f19621b\!41493279696d6d6c495269795843365538306d4a4e4e513d
P12=MCOpenAPI.p12
