<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ecityguide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Login_Servlet</display-name>
    <servlet-name>User_Login_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.User_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login_Servlet</servlet-name>
    <url-pattern>/User_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Paid_Question_Servlet</display-name>
    <servlet-name>User_Paid_Question_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.User_Paid_Question_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Paid_Question_Servlet</servlet-name>
    <url-pattern>/User_Paid_Question_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guide_Login_Servlet</display-name>
    <servlet-name>Guide_Login_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.Guide_Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guide_Login_Servlet</servlet-name>
    <url-pattern>/Guide_Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuideRegisterServlet</display-name>
    <servlet-name>GuideRegisterServlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.GuideRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuideRegisterServlet</servlet-name>
    <url-pattern>/GuideRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guide_Answer_Controller</display-name>
    <servlet-name>Guide_Answer_Controller</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.Guide_Answer_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guide_Answer_Controller</servlet-name>
    <url-pattern>/Guide_Answer_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guide_Question_Answer_Servlet</display-name>
    <servlet-name>Guide_Question_Answer_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.Guide_Question_Answer_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guide_Question_Answer_Servlet</servlet-name>
    <url-pattern>/Guide_Question_Answer_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Paid_Myanswers_Servlet</display-name>
    <servlet-name>User_Paid_Myanswers_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.User_Paid_Myanswers_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Paid_Myanswers_Servlet</servlet-name>
    <url-pattern>/User_Paid_Myanswers_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Rating_Servlet</display-name>
    <servlet-name>User_Rating_Servlet</servlet-name>
    <servlet-class>com.tm.ecity.logincontroller.User_Rating_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Rating_Servlet</servlet-name>
    <url-pattern>/User_Rating_Servlet</url-pattern>
  </servlet-mapping>
</web-app>